<!-- templates/register.html -->
{% extends "base.html" %}

{% block content %}
  <h2>注册</h2>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.username.label(class="form-label") }}
      {{ form.username(class="form-control") }}
    </div>
    <!-- 整个邮箱的 div 都删掉了 -->
    <div class="mb-3">
      {{ form.password.label(class="form-label") }}
      {{ form.password(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.confirm_password.label(class="form-label") }}
      {{ form.confirm_password(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.submit(class="btn btn-primary") }}
    </div>
  </form>
{% endblock %}
